Repository handley-lab/unimpeded: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
        files: "unimpeded/|tests/"
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "unimpeded/"
      - id: version_number
        name: version_number
        entry: python bin/check_version.py
        language: system
        types: [python]
        always_run: true

Added a function download_yaml() for downloading yaml file from zenodo to local computer. Tested sucessfully on my computer.
  unimpeded/database.py
Due: flake8, pydocstyle

Changed the database.download() function such that when downloading ns.csv or mcmc.csv file from zenodo, it is saved into memory in Python, but not saved in the computer disc.
  unimpeded/database.py
Due: flake8, pydocstyle

Updated the database.download() function so it now download both csv files and yaml files depending on the file extension of the input filename.
  unimpeded/database.py
Due: flake8, pydocstyle

Selected class database functions which are in use. Other functions are moved to the old function section at the bottom.
  unimpeded/database.py
Due: flake8, pydocstyle

Get rid of the old functions in unimpeded/database.py
  unimpeded/database.py
Due: flake8, pydocstyle

Added a new class called Database in unimpeded/database.py, Database contains functions which are used in both DatabaseCreator and DatabaseExplorer, using inheritance.
  unimpeded/database.py
Due: flake8, pydocstyle

Deleted functions which are no longer in use, including get_deposit_ids_by_title_original(), publish_old(), get_deposit_ids_by_title() in DatabaseExplorer, get_published_deposit_ids_by_description()
  unimpeded/database.py
Due: flake8, pydocstyle

Minor changes. Deleted unuseful lines and some printing statement.
  unimpeded/database.py
Due: flake8, pydocstyle

Ran isort . && black . in unimpeded to fix the code formatting.
  unimpeded/database.py
Due: flake8, pydocstyle

Removed old database.py files.
  unimpeded/database_2.py
  unimpeded/database_3.py
  unimpeded/database_4.py
Due: flake8, pydocstyle

Updating tests/test_database.py and unimpeded/unimpeded.py for code format.
  tests/test_database.py
  unimpeded/unimpeded.py
Due: flake8, pydocstyle

Added docstrings generated by o3. Need to carefully read and edit them manually.
  unimpeded/database.py
Due: flake8, pydocstyle

Manually updated the docstrings.
  unimpeded/database.py
Due: flake8, pydocstyle

Ran isort and Black formatting.
  unimpeded/database.py
Due: flake8, pydocstyle

Deleted an empty line. In download_prior_info(self, model, dataset, method=ns), changed method default to 'ns', because only nested sampling has prior_info.
  unimpeded/database.py
Due: flake8, pydocstyle

Added Dily Ong as author
  README.rst
Due: none

Deleted unimpeded/unimpeded.py because it is not in use and updated. In unimpeded/database.py, I deleted the commented line.
  unimpeded/database.py
  unimpeded/unimpeded.py
Due: flake8, pydocstyle

Removed tests/test_database.py
  tests/test_database.py
Due: flake8

isort database.py
  unimpeded/database.py
Due: flake8, pydocstyle

Added codecov.yml for temporarily ignoring database.py during testing.
  codecov.yml
Due: none

Fix failing AUR and conda builds in CI
  .github/workflows/build.yaml
Due: none

Address review feedback
  .github/workflows/build.yaml
  README.rst
  database.py
  planck.py
  scratch.py
  testing.py
  unimpeded/_version.py
  wei-ning.py
Due: flake8, pydocstyle

Ran isort . && black .
  planck.py
  scratch.py
  testing.py
Due: none

Add comprehensive database testing with VCR
  codecov.yml
  create_cassette.py
  pyproject.toml
  tests/cassettes/test_database/TestDatabaseCreator.test_create_deposit.yaml
  tests/cassettes/test_database/TestDatabaseExplorer.test_download_samples_no_deposit.yaml
  tests/cassettes/test_database/TestDatabaseExplorer.test_get_deposit_id_by_title_users.yaml
  tests/conftest.py
  tests/test_database.py
Due: flake8

Bump version to 0.2.6 for database testing release
  unimpeded/_version.py
Due: flake8, pydocstyle

Update README.rst version to match _version.py (0.2.6)
  README.rst
Due: none

Setting up Github action for JOSS paper draft. New files: paper.bib paper.md .github/workflows/draft-pdf.yml
  .github/workflows/draft-pdf.yml
  paper.bib
  paper.md
Due: none

Tried compiling paper locally with docker, successfully. A folder called paper is created and paper.bib and paper.md got moved inside.
  paper/jats/paper.jats
  paper/paper.bib
  paper/paper.md
  paper/paper.pdf
Due: none

JOSS paper first draft
  paper.bib
  paper.md
  paper/jats/paper.jats
  paper/paper.bib
  paper/paper.md
  paper/paper.pdf
  paper/prior_posterior.pdf
  paper/tension_stats_p_sorted_by_p.pdf
Due: none

Add get_available_models_and_datasets() method with tests
  scratch.py
  tests/test_database.py
  unimpeded/database.py
  wei-ning.py
Due: flake8, pydocstyle

Add get_available_models_and_datasets() method with tests
  tests/test_database.py
  unimpeded/database.py
Due: flake8, pydocstyle

Apply black formatting
  tests/test_database.py
  unimpeded/database.py
Due: flake8, pydocstyle

Add vcr markers to all Database instantiation tests
  tests/test_database.py
Due: flake8

Bump version to 0.2.7
  unimpeded/_version.py
Due: flake8, pydocstyle

Add VCR cassettes for tests with automatic Zenodo fetching
  tests/cassettes/.DS_Store
  tests/cassettes/test_database/TestDatabase.test_get_available_models_and_datasets.yaml
  tests/cassettes/test_database/TestDatabase.test_get_filename_info.yaml
  tests/cassettes/test_database/TestDatabase.test_get_filename_invalid_file_type.yaml
  tests/cassettes/test_database/TestDatabase.test_get_filename_prior_info.yaml
  tests/cassettes/test_database/TestDatabase.test_get_filename_samples.yaml
  tests/cassettes/test_database/TestDatabase.test_get_filename_with_special_characters.yaml
  tests/cassettes/test_database/TestDatabase.test_supported_data.yaml
  tests/cassettes/test_database/TestDatabase.test_supported_models.yaml
  tests/cassettes/test_database/TestDatabaseCreator.test_create_deposit.yaml
  tests/cassettes/test_database/TestDatabaseCreator.test_create_description.yaml
  tests/cassettes/test_database/TestDatabaseCreator.test_create_metadata.yaml
  tests/cassettes/test_database/TestDatabaseCreator.test_database_creator_inherits_base_methods.yaml
  tests/cassettes/test_database/TestDatabaseCreator.test_initialization.yaml
  tests/cassettes/test_database/TestDatabaseExplorer.test_database_explorer_url_construction.yaml
  tests/cassettes/test_database/TestDatabaseExplorer.test_title_formatting.yaml
  tests/cassettes/test_database/TestDatabaseIntegration.test_filename_consistency.yaml
Due: none

Update README.rst version to 0.2.7
  README.rst
Due: none

Update and add missing VCR cassettes for all tests
  tests/cassettes/test_database/TestDatabaseExplorer.test_database_explorer_url_construction.yaml
  tests/cassettes/test_database/TestDatabaseExplorer.test_download_samples_no_deposit.yaml
  tests/cassettes/test_database/TestDatabaseExplorer.test_title_formatting.yaml
  tests/cassettes/test_database/test_filename_generation_parametrized[mcmc-lcdm-planck_2018_plik+bao.sdss_dr16-samples].yaml
  tests/cassettes/test_database/test_filename_generation_parametrized[mcmc-wlcdm-bao.sdss_dr16-info].yaml
  tests/cassettes/test_database/test_filename_generation_parametrized[ns-klcdm-planck_2018_CamSpec-prior_info].yaml
  tests/cassettes/test_database/test_filename_generation_parametrized[ns-lcdm-planck_2018_plik-samples].yaml
Due: none

Fix test to handle sandbox having different models
  tests/test_database.py
Due: flake8
