Repository handley-lab/unimpeded: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

flake8:
  name: flake8
  entry: python -m flake8
  language: system

pydocstyle:
  name: pydocstyle
  entry: python -m pydocstyle --convention=numpy
  language: system

Add pyyaml dependency and reorganise installation docs
  docs/source/installation.rst
  pyproject.toml
Due: none

Bump version to 1.0.1
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

Add combinations API to DatabaseExplorer for model-dataset discovery
  tests/cassettes/TestDatabase.test_combinations.yaml
  tests/cassettes/TestDatabase.test_datasets_for.yaml
  tests/cassettes/TestDatabase.test_get_available_models_and_datasets.yaml
  tests/cassettes/TestDatabase.test_get_filename_info.yaml
  tests/cassettes/TestDatabase.test_get_filename_invalid_file_type.yaml
  tests/cassettes/TestDatabase.test_get_filename_prior_info.yaml
  tests/cassettes/TestDatabase.test_get_filename_with_special_characters.yaml
  tests/cassettes/TestDatabase.test_is_available.yaml
  tests/cassettes/TestDatabase.test_models_for.yaml
  tests/cassettes/TestDatabase.test_supported_data.yaml
  tests/cassettes/TestDatabase.test_supported_models.yaml
  tests/cassettes/TestDatabaseCreator.test_create_deposit.yaml
  tests/cassettes/TestDatabaseCreator.test_create_description.yaml
  tests/cassettes/TestDatabaseCreator.test_create_metadata.yaml
  tests/cassettes/TestDatabaseCreator.test_database_creator_inherits_base_methods.yaml
  tests/cassettes/TestDatabaseCreator.test_initialization.yaml
  tests/cassettes/TestDatabaseExplorer.test_database_explorer_url_construction.yaml
  tests/cassettes/TestDatabaseExplorer.test_download_samples_no_deposit.yaml
  tests/cassettes/TestDatabaseExplorer.test_get_deposit_id_by_title_users.yaml
  tests/cassettes/TestDatabaseExplorer.test_title_formatting.yaml
  tests/cassettes/TestDatabaseIntegration.test_filename_consistency.yaml
  tests/cassettes/test_filename_generation_parametrized[mcmc-lcdm-planck_2018_plik+bao.sdss_dr16-samples].yaml
  tests/cassettes/test_filename_generation_parametrized[mcmc-wlcdm-bao.sdss_dr16-info].yaml
  tests/cassettes/test_filename_generation_parametrized[ns-klcdm-planck_2018_CamSpec-prior_info].yaml
  tests/cassettes/test_filename_generation_parametrized[ns-lcdm-planck_2018_plik-samples].yaml
  tests/test_database.py
  unimpeded/database.py
Due: flake8, pydocstyle

Fix conda build by adding setuptools dependency for grayskull
  .github/workflows/build.yaml
Due: none

Fix conda build by installing grayskull via pip
  .github/workflows/build.yaml
Due: none

Update tutorial notebook with combinations API and fix dataset names
  unimpeded_tutorial.ipynb
Due: none

Add CLI commands for downloading and launching the tutorial notebook
  docs/source/installation.rst
  pyproject.toml
  unimpeded/cli.py
Due: flake8, pydocstyle

Update notebook installation link to point to ReadTheDocs
  unimpeded_tutorial.ipynb
Due: none

Bump version to 1.1.0
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

Remove unused files and add .DS_Store to gitignore
  .gitignore
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  JUPYTER_SETUP.md
  setup.cfg
  tests/cassettes/.DS_Store
Due: none

Fix package discovery after setup.cfg removal
  pyproject.toml
Due: none

Add --help flag to CLI commands
  unimpeded/cli.py
Due: flake8, pydocstyle

Update tutorial notebook and README citations
  README.rst
  unimpeded_tutorial.ipynb
Due: none

Add grid kwarg to DatabaseCreator upload methods
  unimpeded/database.py
Due: flake8, pydocstyle

Fix get_deposit_ids_by_title 400 errors by lowering page size
  unimpeded/database.py
Due: flake8, pydocstyle

Follow pagination Link header for list-typed deposit responses
  unimpeded/database.py
Due: flake8, pydocstyle

Paginate Zenodo deposit listing with ?page=N
  unimpeded/database.py
Due: flake8, pydocstyle

Return success/failure bool from DatabaseCreator.publish
  unimpeded/database.py
Due: flake8, pydocstyle

Apply black formatting
  unimpeded/cli.py
  unimpeded/database.py
Due: flake8, pydocstyle

Bump version to 1.2.0
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

Add tests for grid kwarg, pagination, and publish return value
  tests/cassettes/TestGridKwarg.test_get_prior_info_path_hpc_default_grid.yaml
  tests/cassettes/TestGridKwarg.test_get_prior_info_path_hpc_old_grid.yaml
  tests/cassettes/TestGridKwarg.test_get_prior_info_path_local.yaml
  tests/cassettes/TestGridKwarg.test_get_samples_mcmc_hpc.yaml
  tests/cassettes/TestGridKwarg.test_get_samples_ns_hpc_forwards_grid.yaml
  tests/cassettes/TestGridKwarg.test_get_samples_ns_hpc_old_grid.yaml
  tests/cassettes/TestGridKwarg.test_get_yaml_path_hpc_default_grid.yaml
  tests/cassettes/TestGridKwarg.test_get_yaml_path_hpc_old_grid.yaml
  tests/cassettes/TestGridKwarg.test_get_yaml_path_local_default_grid.yaml
  tests/test_database.py
Due: flake8

Bump KSXGitHub/github-actions-deploy-aur to v4.1.3
  .github/workflows/build.yaml
Due: none

Bump uibcdf/action-build-and-upload-conda-packages to v1.5.0
  .github/workflows/build.yaml
Due: none

Replace uibcdf conda-build action with direct conda-build + anaconda upload
  .github/workflows/build.yaml
Due: none

Bump version to 1.2.1
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

Add DATASET_ALIASES for long-form / short-form dataset names
  tests/test_database.py
  unimpeded/database.py
Due: flake8, pydocstyle

Add AI Usage Disclosure section to paper.md
  paper/paper.md
Due: none

Update paper.md with current grid coverage and metric count
  paper/paper.md
Due: none

Restructure paper.md into JOSS-required 8 sections
  paper/paper.bib
  paper/paper.md
Due: none

Compute tension moments from loglike__ columns, not the logL column
  README.rst
  tests/test_tension.py
  unimpeded/_version.py
  unimpeded/tension.py
Due: flake8, pydocstyle

Skip existing distributions when uploading to anaconda.org
  .github/workflows/build.yaml
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

Scrub leaked Zenodo token from cassette and enforce VCR filtering
  README.rst
  tests/cassettes/TestDatabaseCreator.test_create_deposit.yaml
  tests/conftest.py
  unimpeded/_version.py
Due: flake8, pydocstyle

Make the grid location configurable instead of hardcoding two machines
  README.rst
  tests/cassettes/TestGridKwarg.test_get_prior_info_path_honours_root.yaml
  tests/cassettes/TestGridKwarg.test_get_samples_honours_root.yaml
  tests/cassettes/TestGridKwarg.test_get_samples_rejects_unknown_method.yaml
  tests/cassettes/TestGridKwarg.test_get_yaml_path_defaults_to_grid_root.yaml
  tests/cassettes/TestGridKwarg.test_get_yaml_path_honours_root.yaml
  tests/test_database.py
  unimpeded/_version.py
  unimpeded/database.py
Due: flake8, pydocstyle

Delete the permanently-skipped upload/download workflow test
  tests/conftest.py
  tests/test_database.py
Due: flake8

Add tests for the command-line entry points
  README.rst
  tests/test_cli.py
  unimpeded/_version.py
Due: flake8, pydocstyle

Correct the declared Python floor and test every supported version
  .github/workflows/build.yaml
  .github/workflows/code_style.yaml
  .github/workflows/pr_checks.yaml
  .github/workflows/unittests.yaml
  README.rst
  docs/source/installation.rst
  pyproject.toml
  unimpeded/_version.py
Due: flake8, pydocstyle

Point the lint jobs at this repository and fix what they surface
  .flake8
  .github/workflows/code_style.yaml
  .pre-commit-config.yaml
  README.rst
  bin/bump_version.py
  bin/gen_PKGBUILD.py
  tests/test_database.py
  tests/test_tension.py
  unimpeded/_version.py
  unimpeded/database.py
  unimpeded/tension.py
Due: flake8, pydocstyle

Declare numpy and scipy, which the package imports directly
  README.rst
  pyproject.toml
  tests/test_packaging.py
  unimpeded/_version.py
Due: flake8, pydocstyle

Pin the minimum anesthetic version that provides tension_stats
  README.rst
  pyproject.toml
  unimpeded/_version.py
Due: flake8, pydocstyle

Path conditions:
  flake8: any of: unimpeded/|tests/ and \.py$
  pydocstyle: any of: unimpeded/ and \.py$
