Repository handley-lab/unimpeded: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

flake8:
  name: flake8
  entry: python -m flake8
  language: system

pydocstyle:
  name: pydocstyle
  entry: python -m pydocstyle --convention=numpy
  language: system

Conda install (#13)
  .github/workflows/build.yaml
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

Adjusted to deal with newlines correctly
  .github/workflows/build.yaml
Due: none

bump version to 0.2.2
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

Conda mk2 (#14)
  .github/workflows/build.yaml
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

Moving channel specification to conda incubator
  .github/workflows/build.yaml
Due: none

bump version to 0.2.3
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

Conda mk3 (#15)
  .github/workflows/build.yaml
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

Updated the PULL_REQUEST_TEMPLATE.md to mention black and isort
  PULL_REQUEST_TEMPLATE.md
Due: none

bump version to 0.2.4
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

Updated request template and code style
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/code_style.yaml
Due: none

A draft for class database, for uploading and downloading chains to zenodo.
  unimpeded/database.py
Due: flake8, pydocstyle

Updated function upload in class database and checked that it works for uploading chains on my macbook locally.
  unimpeded/database.py
Due: flake8, pydocstyle

Added a function called download in class database, and tested that it can download csv files from Zenodo, given filename and ID.
  unimpeded/database.py
Due: flake8, pydocstyle

Testing out new tests
  tests/test_database.py
  unimpeded/database_2.py
Due: flake8, pydocstyle

Added a new line
  tests/test_database.py
Due: flake8

removed test_unimpeded.py
  tests/test_unimpeded.py
Due: flake8

Added secret for access token
  .github/workflows/unittests.yaml
  tests/test_database.py
Due: flake8

Corrected unit tests with -> env
  .github/workflows/unittests.yaml
Due: none

Changed functions in database.py
  unimpeded/database.py
Due: flake8, pydocstyle

Added ACCESS_TOKEN for secrets.ZENODO_SANDBOX_TOKEN
  .github/workflows/unittests.yaml
Due: none

Fixed bugs in tests/test_database.py, it works on local computer now. Need to test it on Github.
  tests/test_database.py
Due: flake8

Manually added access token
  tests/test_database.py
Due: flake8

Manually added access token to the unittests.yaml.
  .github/workflows/unittests.yaml
Due: none

Removed manually added access token.
  tests/test_database.py
Due: flake8

Adding quotation around the access token.
  .github/workflows/unittests.yaml
Due: none

Delete quotation around the access token.
  .github/workflows/unittests.yaml
Due: none

Manually added the access token to unittests.yaml again.
  .github/workflows/unittests.yaml
Due: none

Add a space after ACCESS_TOKEN:
  .github/workflows/unittests.yaml
Due: none

Trying a new access token called RENEW_GITHUB_ACCESS_TOKEN
  .github/workflows/unittests.yaml
Due: none

Added python -m in front of pytest
  .github/workflows/unittests.yaml
Due: none

Removed python -m before pytest. Added double quotation about the github secrets access token
  .github/workflows/unittests.yaml
Due: none

Put Github access token before pytest, and removed everything after env.
  .github/workflows/unittests.yaml
Due: none

Undo all changes to unittests.yaml, in test_database.py, try importing the github access token with ACCESS_TOKEN = os.getenv(ACCESS_TOKEN).
  .github/workflows/unittests.yaml
  tests/test_database.py
Due: flake8

For test_database.py, changed back to os.environ['ACCESS_TOKEN'], for unittests.yaml, changed back to original version.
  .github/workflows/unittests.yaml
  tests/test_database.py
Due: flake8

Changed the function upload() to upload_ns() for specifically uploading nested sampling .csv files.
  unimpeded/database.py
Due: flake8, pydocstyle

Changed metadata title to unimpeded: {model}_{dataset}.
  unimpeded/database.py
Due: flake8, pydocstyle

In the database.get_metadata function, I added the hpc array job number to the title, for debugging purpose.
  unimpeded/database.py
Due: flake8, pydocstyle

Path conditions:
  flake8: any of: unimpeded/|tests/ and \.py$
  pydocstyle: any of: unimpeded/ and \.py$
