Repository handley-lab/unimpeded: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

flake8:
  name: flake8
  entry: python -m flake8
  language: system

pydocstyle:
  name: pydocstyle
  entry: python -m pydocstyle --convention=numpy
  language: system

Improve test coverage for error handling print statement
  tests/test_database.py
Due: flake8

Add tension.py module with multi-dataset support
  unimpeded/tension.py
Due: flake8, pydocstyle

Update paper.md with flowchart figure
  paper/paper.md
Due: none

Fix paper path in draft-pdf workflow
  .github/workflows/draft-pdf.yml
  tests/test_tension.py
Due: flake8

Update tension heatmap figure and paper
  paper/jats/tension_stats_p_sorted_by_p.pdf
Due: none

Remove prior_posterior figure and related text
  paper/paper.md
Due: none

Update paper: add arXiv citation, expand Figure 1 description, and update figures
  paper/flowchart.pdf
  paper/flowchart.tex
  paper/paper.bib
  paper/paper.md
  paper/tension_stats_p_sorted_by_p.pdf
Due: none

Fix paper path in draft-pdf workflow
  .github/workflows/draft-pdf.yml
Due: none

Add code examples for DatabaseExplorer and tension_calculator
  paper/paper.md
Due: none

Fix citation: replace 'Ong & Handley (in prep)' with @Ong2025
  paper/paper.md
Due: none

Fix Upload arrow direction in flowchart to point upward
  paper/flowchart.pdf
  paper/flowchart.tex
Due: none

Adjust flowchart arrow positions
  paper/flowchart.pdf
  paper/flowchart.tex
  paper/paper.md
Due: none

Move anesthetic block and arrows to the left
  paper/flowchart.pdf
  paper/flowchart.tex
Due: none

Update paper: add Zenodo footnote, improve citations, and refine content
  paper/paper.md
Due: none

Prepare arXiv-compatible version of paper.tex
  paper/paper.md
  paper/paper.tex
Due: none

Fix code formatting and increment version
  unimpeded/_version.py
  unimpeded/tension.py
Due: flake8, pydocstyle

Update version in README.rst to 0.2.8
  README.rst
Due: none

Add comprehensive tests for tension module with compact VCR cassettes
  tests/cassettes/TestDownloadTensionInputs.test_download_tension_inputs_caching.yaml
  tests/cassettes/TestDownloadTensionInputs.test_download_tension_inputs_sorted_datasets.yaml
  tests/cassettes/TestDownloadTensionInputs.test_download_tension_inputs_two_datasets.yaml
  tests/cassettes/TestTensionCalculator.test_tension_calculator_uses_cache.yaml
  tests/cassettes/TestTensionIntegration.test_complete_workflow_vs_calculator.yaml
  tests/conftest.py
  tests/test_tension.py
Due: flake8

Fix import sorting in test_tension.py
  tests/test_tension.py
Due: flake8

Temporarily install anesthetic from tension branch for CI
  .github/workflows/unittests.yaml
Due: none

Fix VCR cassette library directory path
  tests/conftest.py
Due: flake8

Flatten cassette directory structure
  tests/cassettes/TestDatabase.test_get_available_models_and_datasets.yaml
  tests/cassettes/TestDatabase.test_get_filename_info.yaml
  tests/cassettes/TestDatabase.test_get_filename_invalid_file_type.yaml
  tests/cassettes/TestDatabase.test_get_filename_prior_info.yaml
  tests/cassettes/TestDatabase.test_get_filename_samples.yaml
  tests/cassettes/TestDatabase.test_get_filename_with_special_characters.yaml
  tests/cassettes/TestDatabase.test_supported_data.yaml
  tests/cassettes/TestDatabase.test_supported_models.yaml
  tests/cassettes/TestDatabaseCreator.test_create_deposit.yaml
  tests/cassettes/TestDatabaseCreator.test_create_description.yaml
  tests/cassettes/TestDatabaseCreator.test_create_metadata.yaml
  tests/cassettes/TestDatabaseCreator.test_database_creator_inherits_base_methods.yaml
  tests/cassettes/TestDatabaseCreator.test_initialization.yaml
  tests/cassettes/TestDatabaseExplorer.test_database_explorer_url_construction.yaml
  tests/cassettes/TestDatabaseExplorer.test_download_samples_no_deposit.yaml
  tests/cassettes/TestDatabaseExplorer.test_get_deposit_id_by_title_users.yaml
  tests/cassettes/TestDatabaseExplorer.test_title_formatting.yaml
  tests/cassettes/TestDatabaseIntegration.test_filename_consistency.yaml
  tests/cassettes/test_filename_generation_parametrized[mcmc-lcdm-planck_2018_plik+bao.sdss_dr16-samples].yaml
  tests/cassettes/test_filename_generation_parametrized[mcmc-wlcdm-bao.sdss_dr16-info].yaml
  tests/cassettes/test_filename_generation_parametrized[ns-klcdm-planck_2018_CamSpec-prior_info].yaml
  tests/cassettes/test_filename_generation_parametrized[ns-lcdm-planck_2018_plik-samples].yaml
Due: none

Fix black formatting in test_tension.py
  tests/test_tension.py
Due: flake8

Fix isort formatting in test_tension.py
  tests/test_tension.py
Due: flake8

Fix black/isort compatibility in test_tension.py imports
  tests/test_tension.py
Due: flake8

Add isort black profile to fix black/isort compatibility
  pyproject.toml
Due: none

Add documentation for VCR cassette generation
  database.py
  planck.py
  testing.py
  tests/README_CASSETTES.md
Due: none

Remove unused cassette generation scripts
  create_cassette.py
Due: none

Remove auto-generated paper files from version control
  paper/jats/paper.jats
  paper/paper.pdf
Due: none

Fix conda build to use explicit version from get-version job
  .github/workflows/build.yaml
Due: none

Bump version to 1.0.0
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

Update README: Remove 'UNDER CONSTRUCTION' and add paper citations
  README.rst
Due: none

Fix build workflow to skip if version already exists
  .github/workflows/build.yaml
Due: none

Make conda version test warn instead of fail on mismatch
  .github/workflows/build.yaml
Due: none

Remove debug statements for JOSS submission
  unimpeded/database.py
Due: flake8, pydocstyle

Update tension statistics: rename logI to I
  tests/test_tension.py
  unimpeded/tension.py
Due: flake8, pydocstyle

Add community guidelines for JOSS submission
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

Remove temporary anesthetic tension branch dependency
  .github/workflows/unittests.yaml
Due: none

Add Jupyter notebook setup guide
  JUPYTER_SETUP.md
Due: none

Add comprehensive installation documentation
  docs/source/index.rst
  docs/source/installation.rst
Due: none

Path conditions:
  flake8: any of: unimpeded/|tests/ and \.py$
  pydocstyle: any of: unimpeded/ and \.py$
