Repository handley-lab/unimpeded: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pydocstyle

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]
        files: "unimpeded/|tests/"
      - id: pydocstyle
        name: pydocstyle
        entry: python -m pydocstyle --convention=numpy
        language: system
        types: [python]
        files: "unimpeded/"
      - id: version_number
        name: version_number
        entry: python bin/check_version.py
        language: system
        types: [python]
        always_run: true

Updated zenodo link
  README.rst
Due: none

Packaging setup mark 3 (#4)
  .pre-commit-config.yaml
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

bump version to 0.0.4
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

Corrected polling link for aur update
  .github/workflows/build.yaml
Due: none

Packaging setup mark 4 (#5)
  .github/workflows/build.yaml
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

bump version to 0.1.0
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

Notes
  pyproject.toml
Due: none

Added a basic python wrapper around REST api of zenodo
  unimpeded/zenodo.py
Due: flake8, pydocstyle

Corrected typos
  unimpeded/zenodo.py
Due: flake8, pydocstyle

Added a zenodo helper class
  unimpeded/zenodo.py
Due: flake8, pydocstyle

Test suite completed
  .github/workflows/CI.yaml
  tests/test_zenodo.py
  unimpeded/zenodo.py
Due: flake8, pydocstyle

Removed unecessary minimum dependencies for now
  .github/workflows/CI.yaml
  bin/min_dependencies.py
Due: none

Corrected typo in sandbox token
  .github/workflows/CI.yaml
Due: none

Moving toward 100% coverage
  tests/test_example.py
  tests/test_zenodo.py
  unimpeded/_version.py.orig
  unimpeded/zenodo.py
Due: flake8, pydocstyle

Added additional timer after discard
  tests/test_zenodo.py
Due: flake8

Corrected remaining anesthetic in docs
  docs/source/index.rst
Due: none

Added version to __init__ for coverage
  unimpeded/__init__.py
Due: flake8, pydocstyle

Zenodo REST API interface (#6)
  .github/workflows/CI.yaml
  README.rst
  bin/min_dependencies.py
  docs/source/index.rst
  pyproject.toml
  tests/test_example.py
  tests/test_zenodo.py
  unimpeded/__init__.py
  unimpeded/_version.py
  unimpeded/_version.py.orig
  unimpeded/zenodo.py
Due: flake8, pydocstyle

Updated documentation for zenodo
  docs/source/modules.rst
  docs/source/unimpeded.rst
Due: none

bump version to 0.1.1
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

Updated documentation for zenodo.py (#7)
  README.rst
  docs/source/modules.rst
  docs/source/unimpeded.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

bump version to 0.1.2
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

now using the latest version of anesthetic
  pyproject.toml
Due: none

anesthetic update (#8)
  README.rst
  pyproject.toml
  unimpeded/_version.py
Due: flake8, pydocstyle

Tidied up
  tests/test_zenodo.py
  unimpeded/_version.py.orig
Due: flake8

bump version to 0.1.3
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

black and isort
  tests/test_zenodo.py
  unimpeded/_version.py
  unimpeded/zenodo.py
Due: flake8, pydocstyle

Created a file unimpeded/unimpeded.py, which contains a class and a function called get for quick loading of datasets.
  unimpeded/unimpeded.py
Due: flake8, pydocstyle

Removed broken zenodo for now
  tests/test_zenodo.py
  unimpeded/zenodo.py
Due: flake8, pydocstyle

bump version to 0.2.0
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle

Added tests/test_unimpeded.py. Updated unimpeded.unimpeded so now the class takes in a file path.
  tests/test_unimpeded.py
  unimpeded/unimpeded.py
Due: flake8, pydocstyle

Codecov v4
  .github/workflows/CI.yaml
  unimpeded/_version.py.orig
Due: none

lsbi continuous integration copied across
  .github/workflows/CI.yaml
  .github/workflows/build.yaml
  .github/workflows/code_style.yaml
  .github/workflows/pr_checks.yaml
  .github/workflows/unittests.yaml
  .github/workflows/version.yaml
  .pre-commit-config.yaml
  bin/bump_version.py
  bin/check_version.py
  bin/dependencies.py
  bin/gen_PKGBUILD.py
  bin/run_tests
  bin/utils.py
  docs/source/conf.py
  tests/test_init.py
  unimpeded/_version.py
Due: flake8, pydocstyle

Updated documentation
  docs/source/unimpeded.rst
Due: none

Added double-check for previously different formatted version
  bin/check_version.py
Due: none

CI Upgrade (#11)
  .github/workflows/CI.yaml
  .github/workflows/build.yaml
  .github/workflows/code_style.yaml
  .github/workflows/pr_checks.yaml
  .github/workflows/unittests.yaml
  .github/workflows/version.yaml
  .pre-commit-config.yaml
  README.rst
  bin/bump_version.py
  bin/check_version.py
  bin/dependencies.py
  bin/gen_PKGBUILD.py
  bin/run_tests
  bin/utils.py
  docs/source/conf.py
  docs/source/unimpeded.rst
  tests/test_init.py
  tests/test_zenodo.py
  unimpeded/_version.py
  unimpeded/_version.py.orig
  unimpeded/zenodo.py
Due: flake8, pydocstyle

Added handley-lab channel to conda build
  .github/workflows/build.yaml
Due: none

bump version to 0.2.1
  README.rst
  unimpeded/_version.py
Due: flake8, pydocstyle
